<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Static factory method returning it's own class object -->
	<bean id="c1" class="java.lang.Class" factory-method="forName"> <!-- calls Class.forName("java.util.Date") method -->
		<constructor-arg value="java.util.Date"/> <!-- Not for constructor injection.. it is passing for factory method argument value -->
	</bean>
	
	<!-- static factory method returning relavent class object -->
	<bean id="cal" class="java.util.Calendar" factory-method="getInstance"/> <!-- calls system.getProperties() -->
	
	<!-- static factory method returning unrelated class object -->
	<bean id="props" class="java.lang.System" factory-method="getProperties"/> <!-- calls System.getProperties() -->
	
	<!-- instance factory method returning its own class object -->
	<bean id="s1" class="java.lang.String">
		<constructor-arg value="hello"/> <!-- for constructor injection -->
	</bean>
	<bean id="s2" factory-bean="s1" factory-method="concat"> <!-- calls s1.concat("123") -->
		<constructor-arg value="123"/>
	</bean>
	
	<!-- instance factory method returning unrelated class object -->
	<bean id="sb" class="java.lang.StringBuffer">
		<constructor-arg value="hello,how are u"/> <!-- for constructor injection -->
	</bean>
	<bean id="s3" factory-bean="sb" factory-method="substring"> <!-- calls sb.substring(0,5) -->
		<constructor-arg value="0"/>
		<constructor-arg value="5"/>
	</bean>
</beans>
